<p>Xin chào,</p>
<p>Rất tiếc, đơn đăng ký tham gia câu lạc bộ <strong>{{clubName}}</strong> của bạn không được chấp nhận vào thời điểm
    này.</p>
<p>Cảm ơn bạn đã quan tâm đến câu lạc bộ. Bạn có thể tìm kiếm và tham gia các câu lạc bộ khác tại UTH Clubs & Events.
</p>
<p>Trân trọng,<br />UTH Clubs & Events Team</p>