<p>Xin chào,</p>
<p>Chúc mừng! Đơn đăng ký tham gia câu lạc bộ <strong>{{clubName}}</strong> của bạn đã được duyệt.</p>
<p>Bây giờ bạn có thể tham gia các hoạt động dành riêng cho thành viên của câu lạc bộ.</p>
<p>Trân trọng,<br/>UTH Clubs & Events Team</p>
